<div id="mainnav-profile" class="mainnav-profile">
    <div class="profile-wrap">
        <div class="pad-btm">
            <img class="img-circle img-sm img-border" src=""
                 alt="Profile Picture" id="usrImg">
        </div>
        <a href="#profile-nav" class="box-block" data-toggle="collapse"
           aria-expanded="false">
                                            <span class="pull-right dropdown-toggle">
                                                <i class="dropdown-caret"></i>
                                            </span>
            <p class="mnp-name"></p>
        </a>
    </div>
    <div id="profile-nav" class="collapse list-group bg-trans">
        <a href="/admin/user/profile" class="list-group-item">
            <i class="demo-pli-male icon-lg icon-fw"></i> 个人信息
        </a>
        <a href="/admin/user/setting" class="list-group-item">
            <i class="demo-pli-gear icon-lg icon-fw"></i> 设置
        </a>
        <a href="javascript:logout();" class="list-group-item">
            <i class="demo-pli-unlock icon-lg icon-fw"></i> 注销
        </a>
    </div>
</div>