<ul id="mainnav-menu" class="list-group">

    <!--Category name-->
    <li class="list-header">管理平台</li>

    <!--Menu list item-->
    <li>
        <a href="#">
            <i class="demo-psi-home"></i>
            <span class="menu-title">
                <strong>系统管理</strong>
            </span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li><a href="{:Url('admin/Rule/index','','')}">权限列表</a></li>

        </ul>
    </li>

    <!--Menu list item-->
    <li>
        <a href="#">
            <i class="demo-psi-split-vertical-2"></i>
            <span class="menu-title">
                <strong>用户管理</strong>
            </span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li><a href="{:Url('admin/User/index','','')}">用户列表</a></li>
            <li><a href="layouts-aside-right-side.html">新增用户</a></li>

        </ul>
    </li>

</ul>