<ul id="mainnav-menu" class="list-group">
    {volist name="menu" id="root"}

    <!--Category name-->
    <li class="list-header">{$root.title}</li>

    {volist name="root._data" id="parent"}
        <!--Menu list item-->
        <li {eq name="parent._selected" value="1"} class="active-sub" {/eq}>
            <a href="#">
                <i class="{$parent.icon}"></i>
                <span class="menu-title">{$parent.title}</span>
                <i class="arrow"></i>
            </a>

            <!--Submenu-->
            <ul class="collapse {eq name="parent._selected" value="1"} in {/eq}">
                {volist name="parent._data" id="sub"}
                    <li {eq name="sub._selected" value="1"} class="active-link" {/eq}><a href="/{$sub.name}">{$sub.title}</a></li>
                {/volist}

            </ul>
        </li>
    {/volist}

    {/volist}

    <!--Menu list item-->
    <li>
        <a href="#">
            <i class="demo-psi-split-vertical-2"></i>
            <span class="menu-title">
                <strong>用户管理</strong>
            </span>
            <i class="arrow"></i>
        </a>

        <!--Submenu-->
        <ul class="collapse">
            <li><a href="{:Url('admin/User/index','','')}">用户列表</a></li>
        </ul>
    </li>

</ul>