<li class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <i class="demo-pli-bell"></i>
        <span class="badge badge-header badge-danger"></span>
    </a>

    <!--Notification dropdown menu-->
    <div class="dropdown-menu dropdown-menu-md">
        <div class="pad-all bord-btm">
            <p class="text-semibold text-main mar-no">你有1条消息.</p>
        </div>
        <div class="nano scrollable">
            <div class="nano-content">
                <ul class="head-list">

                    <!-- Dropdown list-->
                    <li>
                        <a class="media" href="#">
                            <div class="media-left">
                                <i class="demo-pli-file-edit icon-2x"></i>
                            </div>
                            <div class="media-body">
                                <div class="text-nowrap">Write a news article</div>
                                <small class="text-muted">{$uid}</small>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!--Dropdown footer-->
        <div class="pad-all bord-top">
            <a href="/admin/user/message" class="btn-link text-dark box-block">
                <i class="fa fa-angle-right fa-lg pull-right"></i>显示全部信息
            </a>
        </div>
    </div>
</li>