<li id="dropdown-user" class="dropdown">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <!--<img class="img-circle img-user media-object" src="/static/img/profile-photos/1.png" alt="Profile Picture">-->
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
        <div class="username hidden-xs"></div>
    </a>


    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">

        <!-- User dropdown menu -->
        <ul class="head-list">
            <li>
                <a href="/admin/user/profile">
                    <i class="demo-pli-male icon-lg icon-fw"></i> 个人信息
                </a>
            </li>
            <li>
                <a href="/admin/user/message">
                    <span class="badge badge-danger pull-right">9</span>
                    <i class="demo-pli-mail icon-lg icon-fw"></i> 消息
                </a>
            </li>
            <li>
                <a href="/admin/user/setting">
                    <i class="demo-pli-gear icon-lg icon-fw"></i> 设置
                </a>
            </li>
        </ul>

        <!-- Dropdown footer -->
        <div class="pad-all text-right">
            <a href="javascript:logout();" class="btn btn-primary">
                <i class="demo-pli-unlock"></i> 注销
            </a>
        </div>
    </div>
</li>