<form method="post" action="" class="form-horizontal" id="addform">

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">规则名称：</label>
        <div class="col-sm-6">
            <input type="text" id="title" name="title" class="form-control" placeholder="请输入规则名称">
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">规则标识：</label>
        <div class="col-sm-6">
            <input type="text" id="name" name="name" class="form-control" placeholder="请输入规则标识">
        </div>
    </div>
    <div class="form-group">
        <label for="icon" class="col-sm-2 control-label">图标：</label>
        <div class="col-sm-6">
            <input type="text" id="icon" name="icon" class="form-control" placeholder="请输入图标">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-2">
            <input type="checkbox" id="isshow" name="isshow" class="magic-checkbox"><label for="isshow" class="control-label">在菜单显示</label>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            getInfo('{$id}');
        });

        //get info
        function getInfo(id) {
            $.ajax({
                cache: true,
                type: "GET",
                url: "/api/Rule/" + id,
                async: false,
                error: function (request) {
                    alert("连接错误");
                },
                success: function (data) {
                    $("#title").val(data.title);
                    $("#name").val(data.name);
                    $("#icon").val(data.icon);
                    if(data.isshow == 1)
                    {
                        $("#isshow").attr("checked", true);
                    }
                }
            });
        }

        $("#addform").bootstrapValidator({
            message: 'This value is not valid',
            //反馈图标
            feedbackIcons: faIcon,
            fields: {
                title: {
                    message: '规则名称无效',
                    validators: {
                        notEmpty: {
                            message: '规则名称不能为空'
                        }
                    }
                },
                name: {
                    message: '规则标识无效',
                    validators: {
                        notEmpty: {
                            message: '规则标识不能为空'
                        }
                    }
                }
            }
        });
    </script>
</form>