{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js,/static/plugins/bootstrap-treeview/js/bootstrap-treeview.js" /}
{/block}


{block name="title"}权限列表{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">权限列表</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-sm-6 table-toolbar-left">
                                <button class="btn btn-primary" id="add"><i
                                        class="demo-pli-add icon-fw"></i>新增
                                </button>
                                <button class="btn btn-info" id="back"><i
                                        class="ion-arrow-left-c"></i>返回上级
                                </button>
                            </div>
                            <div class="col-sm-6 table-toolbar-right">
                                <div class="form-group">
                                    <input type="text" autocomplete="off" class="form-control" placeholder="Search"
                                           id="demo-input-search2">
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-default"><i class="demo-pli-download-from-cloud"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/rule"
                               data-sort-name="loginname"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="title" data-sortable="true">规则名称</th>
                                <th data-field="name" data-sortable="true">规则标识</th>
                                <th data-field="isshowdesc" data-sortable="true">是否显示</th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">操作
                                </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">
    var pidList = new Array();
    var newPid = 0;

    $(function () {
        $("#add").click(function () {
            showAddInfo(newPid);
        });

        $("#back").click(function () {
            var backpid = pidList.pop();
            newPid = backpid;
            $("#table").bootstrapTable('refresh', {'url': '/api/rule?pid=' + backpid});
            setButtonShow();
        });

        setButtonShow();
    });

    /**
     * 设置新增和返回按钮显示状态
     */
    function setButtonShow() {
        if (newPid == 0) {
            $("#add").hide();
            $("#back").hide();
        } else {
            $("#add").show();
            $("#back").show();
        }
    }

    /**
     * 显示新增权限
     */
    function showAddInfo(id) {
        var title = "新增权限";
        var url = "/admin/Rule/Add?pid=" + id;
        showEditPage(url, title, saveAddInfo, id);
    }

    /**
     * 显示编辑权限
     * @param id
     */
    function showEditInfo(id) {
        var title = "修改权限";
        var url = "/admin/Rule/Edit?id=" + id;
        showEditPage(url, title, saveEditInfo, id);
    }

    /**
     * 保存新增权限
     * @param id
     */
    function saveAddInfo(id) {
        //如果是新增
        var method = "POST";
        var url = "/api/Rule";

        saveInfo(method, url, $('#addform').serialize());
    }

    /**
     * 保存编辑权限
     * @param id
     */
    function saveEditInfo(id) {
        //如果是新增
        var method = "PUT";
        var url = "/api/Rule/" + id;

        saveInfo(method, url, $('#addform').serialize());
    }

    //bootstrap table操作
    function actionFormatter(value, row, index) {
        var sub = '<a class="sub ml10" href="javascript:void(0)" title="查看子权限"><i class="glyphicon glyphicon-th"></i></a> ';
        var edit = '<a class="edit ml10" href="javascript:void(0)" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>';
        var del = '<a class="remove ml10" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-remove"></i></a>';

        if (row.pid == 0) {
            return sub;
        } else {
            return sub + edit + del;
        }
    }

    //操作事件
    window.actionEvents = {
        'click .sub': function (e, value, row, index) {
            showSubList(row.id, row.pid);
        },
        'click .edit': function (e, value, row, index) {
            showEditInfo(row.id);
        },
        'click .remove': function (e, value, row, index) {
            showDeleteInfo("确认删除该条数据么", "/api/Rule/", row.id);
        }
    };

    /**
     * 显示子权限列表
     * @param id
     * @param pid
     */
    function showSubList(id, pid) {
        $("#table").bootstrapTable('refresh', {'url': '/api/rule?pid=' + id});
        newPid = id;
        pidList.push(pid);
        setButtonShow();
    }

</script>
{/block}