{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js" /}
{/block}

{block name="title"}权限列表{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">权限列表</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-sm-6 table-toolbar-left">
                                <button class="btn btn-primary" id="add"><i
                                        class="demo-pli-add icon-fw"></i>新增
                                </button>
                                <button class="btn btn-info" id="back"><i
                                        class="ion-arrow-left-c"></i>返回上级
                                </button>
                            </div>
                            <div class="col-sm-6 table-toolbar-right">
                                <div class="form-group">
                                    <input type="text" autocomplete="off" class="form-control" placeholder="Search"
                                           id="demo-input-search2">
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-default"><i class="demo-pli-download-from-cloud"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/rule"
                               data-sort-name="loginname"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="title" data-sortable="true">规则名称</th>
                                <th data-field="name" data-sortable="true">规则标识</th>
                                <th data-field="isshowdesc" data-sortable="true">是否显示</th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">操作
                                </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">
    var pidList = new Array();
    var newPid = 0;

    $(function () {
        $("#add").click(function () {
            showInfo(true, newPid);
        });

        $("#back").click(function () {
            var backpid = pidList.pop();
            newPid = backpid;
            $("#table").bootstrapTable('refresh', {'url': '/api/rule?pid=' + backpid});
            checkButtonShow();
        });

        checkButtonShow();
    });

    function checkButtonShow() {
        if (newPid == 0) {
            $("#add").hide();
            $("#back").hide();
        } else {
            $("#add").show();
            $("#back").show();
        }
    }

    /*
     调用bootbox提示框
     @param isNew 是否新增
     @param id
     */
    function showInfo(isNew, id) {
        //如果是新增
        var title = "新增权限";
        var url = "/admin/Rule/Add?pid= " + id;
        //如果是修改
        if (!isNew) {
            title = "修改权限";
            var url = "/admin/Rule/Edit?id=" + id;
        }

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {

                bootbox.dialog({
                    title: title,
                    message: data,
                    buttons: {
                        success: {
                            label: "保存",
                            className: "btn-primary",
                            callback: function () {
                                saveInfo(isNew, id);
                            }
                        },
                        cancel: {
                            label: "取消",
                            className: "btn-danger",
                            callback: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    /*
     提交异步保存
     @param isNew 是否新增
     @param id
     */
    function saveInfo(isNew, id) {
        //如果是新增
        var method = "POST";
        var url = "/api/Rule";
        //如果是修改
        if (!isNew) {
            method = "PUT";
            url += "/" + id;
        }
        //异步保存
        $.ajax({
            cache: true,
            type: method,
            url: url,
            data: $('#addform').serialize(),
            async: false,
            error: function (event, xhr, options, exc) {
                console.log(options);
                alert("连接错误" + xhr);
            },
            success: function (data) {
                completeMsg("保存成功");
                $("#table").bootstrapTable("refresh");
            }
        });
    }

    //bootstrap table操作
    function actionFormatter(value, row, index) {
        return [
            '<a class="sub ml10" href="javascript:void(0)" title="查看子权限">',
            '<i class="glyphicon glyphicon-th"></i>',
            '</a> ',
            '<a class="edit ml10" href="javascript:void(0)" title="编辑">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a> ',
            '<a class="remove ml10" href="javascript:void(0)" title="删除">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    //操作事件
    window.actionEvents = {
        'click .sub': function (e, value, row, index) {
            showlist(row.id, row.pid);
        },
        'click .edit': function (e, value, row, index) {
            showInfo(false, row.id);
        },
        'click .remove': function (e, value, row, index) {
            showDeleteInfo("确认删除该条数据么", "/api/Rule/", row.id);
        }
    };

    //show sub list
    function showlist(id, pid) {
        $("#table").bootstrapTable('refresh', {'url': '/api/rule?pid=' + id});
        newPid = id;
        pidList.push(pid);
        checkButtonShow();
    }

</script>
{/block}