{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js,/static/plugins/bootstrap-treeview/js/bootstrap-treeview.js" /}
<script type="text/javascript">
    //设置bootstrap table为中文
    $('#table').bootstrapTable({locale: 'zh-CN'});
</script>
{/block}

{block name="title"}激活码管理{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">激活码列表</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">

                    <form class="form-inline">
                        <div class="row">
                            <div class="form-group">
                                <input type="text" placeholder="激活码" class="form-control input-sm"
                                       id="txtActivateCode">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="激活序号" class="form-control input-sm"
                                       id="txtBatchCode">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="trainingclass" name="trainingclass">
                                    <option value=''>全部培训班</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="activateStatus" name="activateStatus">
                                    <option value=''>全部激活状态</option>
                                    <option value='1'>已激活</option>
                                    <option value='2'>未激活</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" id="search" name="search" value="搜索"/>
                                <input type="button" class="btn btn-default" id="reset" name="reset" value="重置"/>
                            </div>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/activatecode"
                               data-sort-name="activatecode"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="activatecode" data-sortable="true">激活码</th>
                                <th data-field="name" data-sortable="true" data-formatter="studentFormatter">学生姓名</th>
                                <th data-field="trainingname" data-sortable="true">培训班</th>
                                <th data-field="adddate" data-sortable="true">生成时间</th>
                                <th data-field="batchcode" data-sortable="true">激活序号</th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">操作
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">

    $(function () {
        getTrainingList();
        $('#search').click(function () {
            var activatecode = $('#txtActivateCode').val();
            var batchcode = $('#txtBatchCode').val();
            var training = $('#trainingclass').val();
            var status = $('#activateStatus').val();
            $('#table').bootstrapTable('refresh',
                {'url': '/api/activatecode?activatecode=' + activatecode + '&batchcode=' + batchcode + '&training=' + training + '&status=' + status});
        });
        $('#reset').click(function () {
            $('#txtActivateCode').val('');
            $('#txtBatchCode').val('');
            $('#trainingclass').val('');
            $('#activateStatus').val('');
            $('#table').bootstrapTable('refresh', {'url': '/api/activatecode'});
        });
    });

    //get training list
    function getTrainingList() {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/api/Training/open",
            async: false,
            error: function () {
                alert("连接错误");
            },
            success: function (info) {
                info.forEach(function (value, index, array) {
                    $("#trainingclass").append("<option value='" + value.id + "'>" + value.trainingname + "</option>");
                });
            }
        });
    }

    function studentFormatter(value, row, index) {
        if (row.name == null) {
            return '未激活';
        } else {
            return '<a href="#" onclick="showStudent(' + row.studentid + ')">' + row.name + '</a>';
        }
    }

    //bootstrap table操作
    function actionFormatter(value, row, index) {
        var revoke = '<a class="revoke btn-link" href="javascript:void(0)" title="编辑">撤销激活码</a>';
        if (row.name != null) {
            return revoke;
        } else {
            return '';
        }
    }

    //操作事件
    window.actionEvents = {
        'click .revoke': function (e, value, row, index) {
            showRevokeInfo("/api/Activationcode/", row.id);
        },
    };

</script>
{/block}