<form method="post" action="" class="form-horizontal" id="addform">
    <div class="form-group">
        <label for="systemname" class="col-sm-2 control-label">系统名称：</label>
        <div class="col-sm-6">
            <input type="text" id="systemname" name="systemname" class="form-control" placeholder="请输入系统名称"  onblur="validField()">
        </div>
    </div>
</form>
<script type="text/javascript">
    function validField(){
        $('#addform').data('bootstrapValidator').validate("systemname");
    }

    $("#addform").bootstrapValidator({
        message: 'This value is not valid',
        //反馈图标
        feedbackIcons: faIcon,
        fields: {
            systemname: {
                message: '系统名称无效',
                validators: {
                    notEmpty: {
                        message: '系统名称不能为空'
                    },
                    threshold: 2,
                    remote: {
                        url: '/api/system/0/unique',//验证地址
                        message: '系统名称已存在',//提示消息
                        delay :  2000,
                        type: 'POST'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '系统名称长度必须在2到50之间'
                    }
                }
            }

        }
    });
</script>