<form method="post" action="" class="form-horizontal" id="addform">
    <div class="tab-base">

        <!--nav Tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#lft-tab-1">基础设置 </a>
            </li>
            <li>
                <a data-toggle="tab" href="#lft-tab-2">课程设置</a>
            </li>
        </ul>

        <!--Tabs content-->
        <div class="tab-content">
            <div id="lft-tab-1" class="tab-pane fade active in">
                <div class="form-group">
                    <label for="trainingname" class="col-sm-2 control-label">培训计划名称：</label>
                    <div class="col-sm-3">
                        <input type="text" id="trainingname" name="trainingname" class="form-control"
                               placeholder="请输入培训计划名称" onblur="validField()">
                    </div>
                    <label for="trainingcode" class="col-sm-2 control-label">培训计划编号：</label>
                    <div class="col-sm-3">
                        <input type="text" id="trainingcode" name="trainingcode" class="form-control"
                               placeholder="培训计划编号" onblur="validField()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="registrationtime" class="col-sm-2 control-label">报名起止时间：</label>
                    <div class="col-sm-6">
                        <input id="registrationtime" name="registrationtime" class="form-control" type="text"
                               placeholder="请输入报名时间"/>
                        <input id="registrationstarttime" name="registrationstarttime" type="hidden">
                        <input id="registrationendtime" name="registrationendtime" type="hidden">
                    </div>
                </div>
                <div class="form-group">
                    <label for="trainingtime" class="col-sm-2 control-label">培训计划起止时间：</label>
                    <div class="col-sm-6">
                        <input type="text" id="trainingtime" name="trainingtime" class="form-control"
                               placeholder="请输入培训计划起止时间">
                        <input id="starttime" name="starttime" type="hidden">
                        <input id="endtime" name="endtime" type="hidden">
                    </div>
                </div>
                <div class="form-group">
                    <label for="trainingcost" class="col-sm-2 control-label">培训费：</label>
                    <div class="col-sm-2">
                        <input type="text" id="trainingcost" name="trainingcost" class="form-control"
                               placeholder="请输入培训费">
                    </div>
                    <label for="allownumberofcourses" class="col-sm-2 col-sm-offset-1 control-label">允许选课数：</label>
                    <div class="col-sm-2">
                        <input type="text" id="allownumberofcourses" name="allownumberofcourses" class="form-control"
                               value="0" placeholder="请输入允许选课数">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">培训介绍：</label>
                    <div class="col-sm-8">
                        <textarea id="description" name="description" rows="3" class="form-control"
                                  placeholder="请输入培训介绍"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="col-sm-2 control-label">培训内容：</label>
                    <div class="col-sm-8">
                        <textarea id="content" name="content" rows="3" class="form-control"
                                  placeholder="请输入培训内容"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notice" class="col-sm-2 control-label">培训须知：</label>
                    <div class="col-sm-8">
                        <textarea id="notice" name="notice" rows="3" class="form-control"
                                  placeholder="请输入培训须知"></textarea>
                    </div>
                </div>
            </div>
            <div id="lft-tab-2" class="tab-pane fade">
                <div class="table-responsive">
                    <table class="table table-striped" id="courseTable">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th>课程代码</th>
                            <th>课程名称</th>
                            <th>课程类别</th>
                            <th>选课费</th>
                            <th>SCORM课程</th>
                            <th>必选课</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <input type="hidden" id="courses" name="courses"/>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    $(function () {
        $('#registrationtime').daterangepicker(options, function (start, end, label) {
            $("#registrationstarttime").val(start.format('YYYY-MM-DD HH:mm'))
            $("#registrationendtime").val(end.format('YYYY-MM-DD HH:mm'))
            //console.log('New date range selected: ' + start.format('YYYY-MM-DD HH:mm') + ' to ' + end.format('YYYY-MM-DD  HH:mm') + ' (predefined range: ' + label + ')');
        });
        $('#trainingtime').daterangepicker(options, function (start, end, label) {
            $("#starttime").val(start.format('YYYY-MM-DD HH:mm'))
            $("#endtime").val(end.format('YYYY-MM-DD HH:mm'))
            //console.log('New date range selected: ' + start.format('YYYY-MM-DD HH:mm') + ' to ' + end.format('YYYY-MM-DD  HH:mm') + ' (predefined range: ' + label + ')');
        });

        getcourse();
    });

    function validField() {
        $('#addform').data('bootstrapValidator').validate("trainingname");
        $('#addform').data('bootstrapValidator').validate("trainingcode");
    }

    $("#addform").bootstrapValidator({
        message: 'This value is not valid',
        //反馈图标
        feedbackIcons: faIcon,
        fields: {
            trainingname: {
                message: '培训计划名称无效',
                validators: {
                    notEmpty: {
                        message: '培训计划名称不能为空'
                    },
                    threshold: 2,
                    remote: {
                        url: '/api/training/0/unique',//验证地址
                        message: '培训计划名称已存在',//提示消息
                        delay: 2000,
                        type: 'POST'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '培训计划名称长度必须在2到50之间'
                    }
                }
            },
            trainingcode: {
                message: '培训计划编号无效',
                validators: {
                    notEmpty: {
                        message: '培训计划编号不能为空'
                    },
                    threshold: 2,
                    remote: {
                        url: '/api/training/0/unique',//验证地址
                        message: '培训计划编号已存在',//提示消息
                        delay: 2000,
                        type: 'POST'
                    },
                    stringLength: {
                        min: 2,
                        max: 30,
                        message: '培训计划编号长度必须在2到30之间'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '培训计划编号只能由字母，数字，下划线组成'
                    }
                }
            },
            registrationtime: {
                message: '报名起止时间无效',
                validators: {
                    notEmpty: {
                        message: '报名起止时间不能为空'
                    }
                }
            },
            trainingtime: {
                message: '培训计划起止时间无效',
                validators: {
                    notEmpty: {
                        message: '培训计划起止时间不能为空'
                    }
                }
            }
            ,
            trainingcost: {
                message: '培训费无效',
                validators: {
                    notEmpty: {
                        message: '培训费不能为空'
                    }
                    ,
                    between: {
                        min: 1,
                        max: 999,
                        message: '培训费必须介于1和999之间'
                    }
                }
            }
            ,
            allownumberofcourses: {
                message: '允许选课数无效',
                validators: {
                    notEmpty: {
                        message: '允许选课数不能为空'
                    }
                    ,
                    between: {
                        min: 0,
                        max: 999,
                        message: '允许选课数必须介于0和999之间'
                    }
                }
            }
            ,
            notice: {
                message: '培训须知无效',
                validators: {
                    notEmpty: {
                        message: '培训须知不能为空'
                    }
                    ,
                    stringLength: {
                        min: 2,
                        max: 500,
                        message: '培训须知长度必须在2到500之间'
                    }
                }
            },
        }
    })
    ;

    /**
     * 绑定课程
     */
    function getcourse() {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/api/course",
            async: false,
            error: function () {
                alert("连接错误");
            },
            success: function (info) {
                info.forEach(function (value, index, array) {
                    var check = "<td></td>";
                    var isrequired = "<td></td>";
                    if (value.status == '正常') {
                        var check = "<td><input type='checkbox' id='select_" + value.id + "' name='select_" + value.id + "' value ='" + value.id + "'></td>"
                        var isrequired = "<td><input id='required_" + value.id + "' name='required_" + value.id + "' type='checkbox' value ='" + value.id + "'> </td>";
                    }
                    var ccode = "<td>" + value.coursecode + "</td>";
                    var name = "<td>" + value.coursename + "</td>";
                    var type = "<td>" + value.typeid + "</td>";
                    var coursefee = "<td>" + value.coursefee + "</td>";
                    var isscormcourse = "<td>" + yesnoFormatter(value.isscormcourse, null) + "</td>";
                    $("#courseTable").children("tbody").append("<tr>" + check + ccode + name + type + coursefee + isscormcourse + isrequired + "</tr>");
                });
            }
        });
    }

</script>