<form method="post" action="" class="form-horizontal" id="addform">
    <div class="tab-base">

        <!--Nav Tabs-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#lft-tab-1">基础设置 </a>
            </li>
            <li>
                <a data-toggle="tab" href="#lft-tab-2">课程设置</a>
            </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">
            <div id="lft-tab-1" class="tab-pane fade active in">
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">培训计划名称：</label>
                    <div class="col-sm-3">
                        <input type="text" id="Name" name="Name" class="form-control" placeholder="请输入培训计划名称">
                    </div>
                    <label for="TrainingCode" class="col-sm-2 control-label">培训计划编号：</label>
                    <div class="col-sm-3">
                        <input type="text" id="TrainingCode" name="TrainingCode" class="form-control"
                               placeholder="培训计划编号">
                    </div>
                </div>
                <div class="form-group">
                    <label for="RegistrationTime" class="col-sm-2 control-label">报名起止时间：</label>
                    <div class="col-sm-6">
                        <input id="RegistrationTime" name="RegistrationTime" class="form-control" type="text"
                               placeholder="请输入报名时间"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="TrainingTime" class="col-sm-2 control-label">培训计划起止时间：</label>
                    <div class="col-sm-6">
                        <input type="text" id="TrainingTime" name="TrainingTime" class="form-control"
                               placeholder="请输入培训计划起止时间">
                    </div>
                </div>
                <div class="form-group">
                    <label for="TrainingCost" class="col-sm-2 control-label">培训费：</label>
                    <div class="col-sm-2">
                        <input type="text" id="TrainingCost" name="TrainingCost" class="form-control"
                               placeholder="请输入培训费">
                    </div>
                    <label for="AllowNumberOfCourses" class="col-sm-2 col-sm-offset-1 control-label">允许选课数：</label>
                    <div class="col-sm-2">
                        <input type="text" id="AllowNumberOfCourses" name="AllowNumberOfCourses" class="form-control"
                               value="0" placeholder="请输入允许选课数">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">培训介绍：</label>
                    <div class="col-sm-8">
                        <textarea id="Description" name="Description" rows="3" class="form-control"
                                  placeholder="请输入培训介绍"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Content" class="col-sm-2 control-label">培训内容：</label>
                    <div class="col-sm-8">
                        <textarea id="Content" name="Content" rows="3" class="form-control"
                                  placeholder="请输入培训内容"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Notice" class="col-sm-2 control-label">培训须知：</label>
                    <div class="col-sm-8">
                        <textarea id="Notice" name="Notice" rows="3" class="form-control"
                                  placeholder="请输入培训须知"></textarea>
                    </div>
                </div>
            </div>
            <div id="lft-tab-2" class="tab-pane fade">

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    $(function () {
        $('#RegistrationTime').daterangepicker(options, function (start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        });
        $('#TrainingTime').daterangepicker(options, function (start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        });
    });
</script>