<form method="post" action="" class="form-horizontal" id="addform">
    <div class="form-group">
        <label for="Name" class="col-sm-3 control-label">培训计划名称：</label>
        <div class="col-sm-6">
            <input type="text" id="Name" name="Name" class="form-control" placeholder="请输入培训计划名称">
        </div>
    </div>
    <div class="form-group">
        <label for="RegistrationTime" class="col-sm-3 control-label">报名起止时间：</label>
        <div class="col-sm-6">
            <input id="RegistrationTime" name="RegistrationTime" class="form-control" type="text"
                   placeholder="请输入报名时间"/>
        </div>
    </div>
    <div class="form-group">
        <label for="TrainingTime" class="col-sm-3 control-label">培训计划起止时间：</label>
        <div class="col-sm-6">
            <input type="text" id="TrainingTime" name="TrainingTime" class="form-control" placeholder="请输入培训计划起止时间">
        </div>
    </div>
    <div class="form-group">
        <label for="TrainingCost" class="col-sm-3 control-label">培训费：</label>
        <div class="col-sm-6">
            <input type="text" id="TrainingCost" name="TrainingCost" class="form-control" placeholder="请输入培训费">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <label for="Description" class="control-label">培训介绍：</label>
            <textarea id="Description" name="Description" class="form-control" row="5"></textarea>
        </div>
    </div>
</form>
<script type="text/javascript">
    var options = {
        timePicker: true,
        timePicker24Hour: true,
        buttonClasses : [ 'btn btn-default' ],
        applyClass : 'btn-small btn-primary',
        cancelClass : 'btn-small btn-danger',
        ranges : {
            //'最近1小时': [moment().subtract('hours',1), moment()],
            '今日': [moment().startOf('day'), moment()],
            '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
            '最近7日': [moment().subtract('days', 6), moment()],
            '最近30日': [moment().subtract('days', 29), moment()]
        },
        locale : {
            format: "MM/DD/YYYY HH:mm",
            separator: " 至 ",
            applyLabel : '确定',
            cancelLabel : '取消',
            fromLabel : '起始时间',
            toLabel : '结束时间',
            customRangeLabel : '自定义',
            daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
            monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月',
                '七月', '八月', '九月', '十月', '十一月', '十二月' ],
            firstDay : 1
        }
    };

    $(function () {
        $('#RegistrationTime').daterangepicker(options, function(start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        });
        $('#TrainingTime').daterangepicker(options, function(start, end, label) {
            console.log("New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')");
        });
    });
</script>