{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css,/static/plugins/daterangepicker/daterangepicker.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js,/static/plugins/bootstrap-treeview/js/bootstrap-treeview.js" /}
{load href="/static/plugins/daterangepicker/moment.js,/static/plugins/daterangepicker/daterangepicker.js" /}
{load href="/static/js/pickersetup.js" /}
<script type="text/javascript">
    //设置bootstrap table为中文
    $('#table').bootstrapTable({locale: 'zh-CN'});
</script>
{/block}

{block name="title"}培训班管理{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">培训班列表</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-sm-6 table-toolbar-left">
                                <button class="btn btn-primary" id="add"><i
                                        class="demo-pli-add icon-fw"></i>新增
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/training"
                               data-search="true"
                               data-sort-name="trainingname"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="trainingname" data-sortable="true">培训班名称</th>
                                <th data-field="trainingcode" data-sortable="true">培训计划编号</th>
                                <th data-field="traingtypedesc" data-sortable="true">培训类别</th>
                                <th data-field="starttime" data-sortable="true" data-formatter="dateFormatter">培训开始时间
                                </th>
                                <th data-field="endtime" data-sortable="true" data-formatter="dateFormatter">
                                    培训结束时间
                                </th>
                                <th data-field="status" data-sortable="true" data-formatter="statusFormatter">状态</th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">操作
                                </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<style>
    .modal-dialog {
        width: 70%;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("#add").click(function () {
            showAddInfo();
        });
    });

    /**
     * 显示新增培训班
     */
    function showAddInfo() {
        var title = "新增培训班";
        var url = "/admin/training/Add";

        showEditPage(url, title, saveAddInfo, null);
    }

    /**
     * 显示编辑培训班
     * @param id
     */
    function showEditInfo(id) {
        var title = "修改培训班";
        var url = "/admin/training/Edit?id=" + id;

        showEditPage(url, title, saveEditInfo, id);
    }

    /**
     * 保存新增培训班
     * @param id
     */
    function saveAddInfo(id) {
        //如果是新增
        var method = "POST";
        var url = "/api/training";

        var courses = new Array();
        $("input[name^='select']:checked").each(function () {
            var id = this.value;
            var course = id;

            if ($("input[name='required_" + id + "']").is(":checked")) {
                course = id + "_1";
            }
            courses.push(course);
        })
        $("#courses").val(courses);

        saveInfo(method, url, $('#addform').serialize());
    }

    /**
     * 保存编辑培训班
     * @param id
     */
    function saveEditInfo(id) {
        //如果是新增
        var method = "PUT";
        var url = "/api/training/" + id;

        var courses = new Array();
        $("input[name^='select']:checked").each(function () {
            var id = this.value;
            var course = id;

            if ($("input[name='required_" + id + "']").is(":checked")) {
                course = id + "_1";
            }
            courses.push(course);
        })
        $("#courses").val(courses);

        saveInfo(method, url, $('#addform').serialize());
    }

    //bootstrap table操作
    function actionFormatter(value, row, index) {
        var start = '<a class="start btn-link" href="javascript:void(0)" title="启用">启用</a>';
        var stop = '<a class="stop btn-link" href="javascript:void(0)" title="停用">停用</a>';

        var edit = '<a class="edit btn-link" href="javascript:void(0)" title="编辑">编辑</a>';
        var del = '<a class="remove btn-link" href="javascript:void(0)" title="删除">删除</a>';

        if (row.status == '停用')
            return start + " | " + edit + " | " + del;
        else
            return stop + " | " + edit + " | " + del;
    }

    /**
     * 是否文字格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function yesnoFormatter(value, row) {
        var labelColor;
        if (value == "是") {
            labelColor = "success";
        } else if (value == "否") {
            labelColor = "danger";
        }

        return '<div class="label label-table label-' + labelColor + '"> ' + value + '</div>';
    }

    /**
     * 状态文字格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function statusFormatter(value, row) {
        var labelColor;
        if (value == "正常") {
            labelColor = "success";
        } else if (value == "停用") {
            labelColor = "danger";
        }

        return '<div class="label label-table label-' + labelColor + '"> ' + value + '</div>';
    }

    //操作事件
    window.actionEvents = {
        'click .start': function (e, value, row, index) {
            showStartInfo("/api/training/", row.id);
        },
        'click .stop': function (e, value, row, index) {
            showStopInfo("确认停用所选培训班？", "/api/training/", row.id);
        },
        'click .edit': function (e, value, row, index) {
            showEditInfo(row.id);
        },
        'click .remove': function (e, value, row, index) {
            showDeleteInfo("确认删除该培训班么", "/api/training/", row.id);
        }
    };

</script>
{/block}