{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js,/static/plugins/bootstrap-treeview/js/bootstrap-treeview.js" /}
<script type="text/javascript">
    //设置bootstrap table为中文
    $('#table').bootstrapTable({locale: 'zh-CN'});
</script>
{/block}

{block name="title"}课程列表{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">课程列表</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-sm-6 table-toolbar-left">
                                <button class="btn btn-primary" id="add"><i
                                        class="demo-pli-add icon-fw"></i>新增
                                </button>
                            </div>
                            <div class="col-sm-6 table-toolbar-right">
                                <div class="form-group">
                                    <input type="text" autocomplete="off" class="form-control" placeholder="Search"
                                           id="demo-input-search2">
                                </div>
                                <div class="btn-group">
                                    <button class="btn btn-default"><i class="demo-pli-download-from-cloud"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/course"
                               data-sort-name="coursename"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="coursecode" data-sortable="true">课程代码</th>
                                <th data-field="coursename" data-sortable="true">课程名称</th>
                                <th data-field="courseurl" data-sortable="true">课程地址</th>
                                <th data-field="coursehours" data-sortable="true">学时</th>
                                <th data-field="coursefee" data-sortable="true">课程学费</th>
                                <th data-field="isopenselection" data-sortable="true" data-formatter="statusFormatter">开放选课</th>
                                <th data-field="isscormcourse" data-sortable="true" data-formatter="statusFormatter">SCORM课程</th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">操作
                                </th>

                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<style>
    .modal-dialog {
        width: 60%;
    }
</style>
<script type="text/javascript">

    $(function () {
        $("#add").click(function () {
            showAddInfo();
        });

    });

    /**
     * 显示新增课程
     */
    function showAddInfo() {
        var title = "新增课程";
        var url = "/admin/Course/Add";

        showEditPage(url, title, saveAddInfo, null);
    }

    /**
     * 显示编辑课程
     * @param id
     */
    function showEditInfo(id) {
        var title = "修改课程";
        var url = "/admin/Course/Edit?id=" + id;

        showEditPage(url, title, saveEditInfo, id);
    }

    /**
     * 保存新增课程
     * @param id
     */
    function saveAddInfo(id) {
        //如果是新增
        var method = "POST";
        var url = "/api/course";

        saveInfo(method, url, $('#addform').serialize());
    }

    /**
     * 保存编辑课程
     * @param id
     */
    function saveEditInfo(id) {
        //如果是新增
        var method = "PUT";
        var url = "/api/course/" + id;

        saveInfo(method, url, $('#addform').serialize());
    }

    //bootstrap table操作
    function actionFormatter(value, row, index) {
        var edit = '<a class="edit ml10" href="javascript:void(0)" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>';
        var del = '<a class="remove ml10" href="javascript:void(0)" title="删除"><i class="glyphicon glyphicon-remove"></i></a>';

        return edit + del;
    }

    /**
     * 状态文字格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function statusFormatter(value, row) {
        var labelColor;
        if (value == "是") {
            labelColor = "success";
        }else if(value == "否"){
            labelColor = "danger";
        }

        return '<div class="label label-table label-'+ labelColor+'"> ' + value + '</div>';
    }

    //操作事件
    window.actionEvents = {
        'click .edit': function (e, value, row, index) {
            showEditInfo(row.id);
        },
        'click .remove': function (e, value, row, index) {
            showDeleteInfo("确认删除该条数据么", "/api/Course/", row.id);
        },
    };

</script>
{/block}