<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企业培训平台--学生端</title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    {load
    href="/static/css/bootstrap.min.css,/static/css/nifty.min.css,/static/plugins/magic-check/css/magic-check.min.css"
    /}
    {load
    href="/static/css/demo/nifty-demo-icons.min.css,/static/css/demo/nifty-demo.min.css"
    /}
    {load
    href="/static/plugins/ionicons/css/ionicons.min.css,/static/plugins/font-awesome/css/font-awesome.min.css"
    /}

    {block name="css"}{/block}

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    {load href="/static/plugins/pace/pace.min.css,/static/plugins/pace/pace.min.js" /}

    {load href="/static/js/jquery-2.2.4.min.js,/static/js/bootstrap.min.js,/static/js/nifty.min.js" /}

    <!--=================================================-->


    <!--Sparkline [ OPTIONAL ]-->
    {load href="/static/plugins/sparkline/jquery.sparkline.min.js" /}


    <!--Specify page [ SAMPLE ]-->
    {load href="/static/css/themes/type-c/theme-well-red.min.css" /}

    {block name="js"}{/block}
    {load href="/static/js/main.js" /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body class="  pace-done">
<div id="container" class="navbar-fixed footer-fixed effect mainnav-lg aside-bright boxed-layout">

    <!--NAVBAR-->
    <!--===================================================-->
    <header id="navbar">
        <div id="navbar-container" class="boxed">

            <!--Brand logo & name-->
            <!--================================-->
            <div class="navbar-header">
                <a href="/student/index" class="navbar-brand">
                    <img src="/static/img/logo.png" alt="Nifty Logo" class="brand-icon">
                    <div class="brand-title">
                        <span class="brand-text">企业培训平台</span>
                    </div>
                </a>
            </div>
            <!--================================-->
            <!--End brand logo & name-->


            <!--Navbar Dropdown-->
            <!--================================-->
            <div class="navbar-content clearfix">
                <ul class="nav navbar-top-links pull-left">

                    <!--Navigation toogle button-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <li class="tgl-menu-btn">
                        <a class="mainnav-toggle" href="#">
                            <i class="demo-pli-view-list"></i>
                        </a>
                    </li>
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End Navigation toogle button-->


                    <!--Notification dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    {include file="index/message" /}
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End notifications dropdown-->

                </ul>
                <ul class="nav navbar-top-links pull-right">

                    <!--User dropdown-->
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    {include file="index/topinfo" /}
                    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                    <!--End user dropdown-->

                </ul>
            </div>
            <!--================================-->
            <!--End Navbar Dropdown-->

        </div>
    </header>
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <div id="page-title">
                <h1 class="page-header text-overflow">{block name="title"}{/block}</h1>
            </div>

            {block name="main"}{/block}
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
        <!--MAIN NAVIGATION-->
        <!--===================================================-->
        <nav id="mainnav-container">
            <div id="mainnav">

                <!--Menu-->
                <!--================================-->
                <div id="mainnav-menu-wrap">
                    <div class="nano">
                        <div class="nano-content">

                            <!--Profile Widget-->
                            <!--================================-->
                            {include file="index/menu" /}

                        </div>
                    </div>
                </div>
                <!--================================-->
                <!--End menu-->

            </div>
        </nav>
        <!--===================================================-->
        <!--END MAIN NAVIGATION-->

    </div>


    <!-- FOOTER -->
    <!--===================================================-->
    <footer id="footer">


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2016 Luckynet</p>


    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

{block name="modal"}{/block}

<script type="text/javascript">
    /**
     *
     */
    function logout() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/api/logout",
            error: function () {
                alert("连接错误");
            },
            success: function (data) {
                if (data.code == 0) {
                    location.href = "/student/login";
                }
            }
        });
    }

    /**
     * get user info
     */
    $(function () {
        getUserInfo();
    });

    function getUserInfo()
    {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/api/user/{$uid}" ,
            error: function () {
                alert("连接错误");
            },
            success: function (data) {
                var realname = data.realname;
                $(".username").html(realname);
            }
        });
    }
</script>
</body>
</html>
