<div class="row">
    <label class="col-sm-2 control-label">报名时间：</label>
    <div class="col-sm-6">
        <span id="regTime" name="regTime"></span>
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">学习时间：</label>
    <div class="col-sm-6">
        <span id="studyTime" name="regTime"></span>
    </div>
</div>
<div class="row">
    <label class="col-sm-2 control-label">简介：</label>
    <div class="col-sm-6">
        <span id="description" name="regTime"></span>
    </div>
</div>
<div>
    <table class="table table-striped" id="courseTable">
        <thead>
        <tr>
            <th class="text-center"></th>
            <th>课程代码</th>
            <th>课程名称</th>
            <th>学时</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>
<script type="text/javascript">
    $(function () {
        getInfo('{$id}');
    });

    //get info
    function getInfo(id) {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/api/training/" + id,
            async: false,
            error: function () {
                alert("连接错误");
            },
            success: function (info) {
                var data = info;
                var courses = info.courses;
                //trainingname

                $("#regTime").text(data.registrationstarttime + ' 至 ' + data.registrationendtime);
                $("#studyTime").text(data.starttime + ' 至 ' + data.endtime);
                $("#description").text(data.description);

                courses.forEach(function (value, index, array) {

                });
            }
        });
    }
</script>
