{extend name="base" /}
{block name="css"}
{load href="/static/plugins/animate-css/animate.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/bootbox/bootbox.min.js" /}

{load href="/static/js/main.js" /}
{/block}
{block name="title"}在线支付{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">支付订单</h3>
                </div>
                <div class="panel-body">
                    <div class="panel panel-bordered panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">在线支付交费信息说明</h3>
                        </div>
                        <div class="panel-body">
                            <p>在页面支付操作过程中，请不要轻易关闭所系统所打开的浏览器窗口。如果遇到问题请及时技术人员。</p>
                            <p>如果银行系统返回的错误，请及时联系技术工作人员，不要盲目操作。</p>
                            <p>在支付前，请确认所要使用的银行卡余额满足支付要求，以免造成支付失败。</p>
                            <p>请不要在网吧等公共场合完成网上支付操作，以免造成个人信息的泄露。</p>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>交费人</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>交费名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>交费项目</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>订单号</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>交费金额</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="button" id="btnPay" name="btnPay" class="btn btn-primary btn-lg col-md-6"
                                   value=" 支 付 ">
                        </div>
                        <div class="col-md-6">
                            <input type="button" id="btnBack" name="btnBack" class="btn btn-danger btn-lg col-md-6"
                                   value="返回">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">
    $(function () {
        $(function () {
            $("#btnBack").click(function () {
                location.href = "/student/finance/paylist";
            });
        });
    });

</script>
{/block}