{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js" /}

{load href="/static/js/main.js" /}
<script type="text/javascript">
    //设置bootstrap table为中文
    $('#table').bootstrapTable({locale: 'zh-CN'});
</script>
{/block}
{block name="title"}我要交费{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">需要交费的培训班</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/Selectcourse/getNeedPayTrainingList?uid={$uid}"
                               data-search="true"
                               data-sort-name="id"
                               data-pagination="false" id="table">
                            <thead>
                            <tr>
                                <th data-field="trainingname" data-formatter="detailFormatter">培训班名称</th>
                                <th data-field="starttime" data-formatter="dateFormatter">培训开始时间
                                </th>
                                <th data-field="endtime" data-formatter="dateFormatter">
                                    培训结束时间
                                </th>
                                <th data-field="trainingcost" data-formatter="costFormatter">
                                    培训费
                                </th>
                                <th data-align="center" data-field="action" data-formatter="actionFormatter"
                                    data-events="actionEvents">交费
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">
    $(function () {

    });

    /**
     * 详细内容格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function detailFormatter(value, row) {
        return '<a class="btn-link" href="javascript:showDetail(\'/student/Training/detail?id=' + row.id + '\',\'' + row.trainingname + '培训班介绍\');"> ' + value + '</a>';
    }

    /**
     * 金额格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function costFormatter(value, row) {
        return '<span class="text-muted"> ' + value + ' 元</span>';
    }


    //bootstrap table操作
    function actionFormatter(value, row, index) {
        var signup = '<a class="pay btn btn-primary" href="javascript:void(0)" title="交费">交 费</a>';

        return signup;
    }

    //操作事件
    window.actionEvents = {
        'click .pay': function (e, value, row, index) {
            showPayInfo(row.id);
        }
    };

    /**
     * 显示培训班
     * @param id
     */
    function showPayInfo(id) {
        var title = "培训班报名确认";
        var url = "/student/Finance/paytype?id=" + id;

        showPayinfoPage(url, title, saveSigninInfo, id);
    }

    /**
     * 显示培训班缴费类型页面
     * @param url 调用新增或者编辑的html页面
     * @param title 操作框标题
     * @param func 保存操作返回函数
     * @param id 操作数据ID，用于编辑保存用
     */
    function showPayinfoPage(url, title, func, id) {
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {

                bootbox.dialog({
                    title: title,
                    message: data,
                    buttons: {
                        success: {
                            label: "确定",
                            className: "btn-primary",
                            callback: function () {
                                func(id);
                            }
                        },
                        cancel: {
                            label: "放弃交费",
                            className: "btn-danger",
                            callback: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    /**
     * 保存报名培训班
     * @param id
     */
    function saveSigninInfo(id) {
        //如果是新增
        var method = "POST";
        var url = "/api/Selectcourse/Signin";

        //异步保存
        $.ajax({
            cache: true,
            type: method,
            url: url,
            data: {
                'uid': '{$uid}',
                'id': id
            },
            async: false,
            error: function () {
                alert("连接错误");
            },
            success: function (data) {
                if (data.code == 0) {
                    completeMsg("报名成功");
                    location.href = '/student';
                } else if (data.code == -201) {
                    errorMsg('您已报名过该培训班！如需交费，请点击\"交费信息-我要交费\"！');
                } else {
                    errorMsg('报名失败！请稍候再试或联系技术支持！错误信息：' + data.msg);
                }
            }
        });
    }

</script>
{/block}