{extend name="base" /}
{block name="css"}
{load href="/static/plugins/bootstrap-table/bootstrap-table.min.css,/static/plugins/x-editable/css/bootstrap-editable.css" /}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/x-editable/js/bootstrap-editable.min.js,/static/plugins/bootstrap-table/bootstrap-table.min.js,/static/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js,/static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js" /}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js,/static/plugins/bootstrap-treeview/js/bootstrap-treeview.js" /}
<script type="text/javascript">
    //设置bootstrap table为中文
    $('#table').bootstrapTable({locale: 'zh-CN'});
</script>
{/block}

{block name="title"}管理端操作日志{/block}
{block name="main"}
<div id="page-content">

    <div class="row">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">管理端操作日志</h3>
                </div>

                <!--Data Table-->
                <!--===================================================-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table data-toggle="table"
                               data-url="/api/log/adminoperatelog"
                               data-search="true"
                               data-sort-name="systemname"
                               data-page-list="[10, 20, 50]"
                               data-page-size="10"
                               data-pagination="true" data-show-pagination-switch="true" id="table">
                            <thead>
                            <tr>
                                <th data-field="userid" data-sortable="true">用户</th>
                                <th data-field="operatorip" data-sortable="true">操作IP</th>
                                <th data-field="operatordate" data-sortable="true" data-formatter="dateFormatter">操作日期</th>
                                <th data-field="operateurl" data-sortable="true">操作url</th>
                                <th data-field="operatememo" data-sortable="true">操作内容</th>
                                <th data-field="operatedescription" data-sortable="true">操作描述</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!--===================================================-->
                <!--End Data Table-->

            </div>
        </div>
    </div>

</div>
{/block}

{block name="modal"}
<script type="text/javascript">

    $(function () {

    });

    /**
     * 状态文字格式化
     * @param value
     * @param row
     * @returns {string}
     */
    function statusFormatter(value, row) {
        var labelColor;
        if (value == "正常") {
            labelColor = "success";
        } else if (value == "停用") {
            labelColor = "danger";
        }

        return '<div class="label label-table label-' + labelColor + '"> ' + value + '</div>';
    }

</script>
{/block}