<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登陆 | 企业培训平台--学生端</title>

    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    {load
    href="/static/css/bootstrap.min.css,/static/css/nifty.min.css,/static/css/demo/nifty-demo-icons.min.css,/static/css/demo/nifty-demo.min.css,/static/plugins/magic-check/css/magic-check.min.css"
    /}

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    {load href="/static/plugins/pace/pace.min.css,/static/plugins/pace/pace.min.js" /}

    {load
    href="/static/js/jquery-2.2.4.min.js,/static/js/bootstrap.min.js,/static/js/nifty.min.js,/static/js/demo/bg-images.js"
    /}

    <!--=================================================-->

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="cls-container">

    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay" style="background-image: url('/static/img/bg-img/bg-img-2.jpg');" class="bg-img"></div>


    <!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
        <div class="cls-content-sm panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h3 class="h4 mar-no">学习平台登录</h3>
                    <p class="text-muted">请使用您的帐户登录</p>
                </div>
                <form action="">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="用户名" id="loginname" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="密码" id="password">
                    </div>
                    <div class="checkbox pad-btm text-left">
                        <input id="demo-form-checkbox" class="magic-checkbox" type="checkbox">
                        <label for="demo-form-checkbox">记住我</label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="button" id="btnLogin">登 录</button>
                </form>
            </div>

            <div class="pad-all">
                <a href="pages-password-reminder.html" class="btn-link mar-rgt">忘记密码 ?</a>
                <a href="/student/register" class="btn-link mar-lft">注册新账户</a>

            </div>
        </div>
    </div>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<script type="text/javascript">
    $(function () {
        $("body").keydown(function () {
            if (event.keyCode == "13") {
                $("#btnLogin").click();
            }
        });

        $("#btnLogin").click(function () {
            $.ajax({
                cache: true,
                type: "POST",
                url: "/api/student/Login/",
                data: {
                    username: $("#loginname").val(),
                    password: $("#password").val()
                },
                async: false,
                error: function (request) {
                    alert("连接错误");
                },
                success: function (data) {
                    if (data.code == 0) {
                        location.href = "/student/index";
                    } else {
                        $.niftyNoty({
                            type: 'danger',
                            icon: 'pli-cross icon-2x',
                            message: data.msg,
                            container: 'floating',
                            timer: 5000
                        });
                    }
                }
            });
        });
    });
</script>

</body>
</html>
