<!DOCTYPE html>
{__NOLAYOUT__}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册新用户 | 企业培训平台--学生端</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    {load
    href="/static/css/bootstrap.min.css,/static/css/nifty.min.css,/static/css/demo/nifty-demo-icons.min.css,/static/css/demo/nifty-demo.min.css,/static/plugins/magic-check/css/magic-check.min.css"
    /}
    {load
    href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
    {load href="/static/plugins/ionicons/css/ionicons.min.css,/static/plugins/font-awesome/css/font-awesome.min.css"/}
    {load href="/static/plugins/bootstrap-select/bootstrap-select.min.css"/}

    <!--JAVASCRIPT-->
    <!--=================================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    {load href="/static/plugins/pace/pace.min.css,/static/plugins/pace/pace.min.js" /}
    {load href="/static/js/jquery-2.2.4.min.js,/static/js/bootstrap.min.js,/static/js/nifty.min.js"/}
    {load href="/static/plugins/bootstrap-validator/bootstrapValidator.min.js" /}
    {load href="/static/plugins/bootstrap-select/bootstrap-select.min.js" /}
    {load href="/static/js/main.js" /}
    <!--=================================================-->

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
<div id="container" class="cls-container">


    <!-- BACKGROUND IMAGE -->
    <!--===================================================-->
    <div id="bg-overlay" style="background-image: url('/static/img/bg-img/bg-img-2.jpg');" class="bg-img"></div>

    <!-- REGISTRATION FORM -->
    <!--===================================================-->
    <div class="cls-content text-left">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm text-center">
                    <h3 class="h4 mar-no">注册新用户</h3>
                    <p class="text-muted">欢迎加入企业培训平台! 请注册您的个人信息。</p>
                </div>
                <form method="post" action="" class="form-horizontal" id="addform">
                    <div class="form-group">
                        <label for="loginname" class="col-md-3 control-label">登录名：</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ion-at"></i>
                                        </span>
                                <input type="text" id="loginname" name="loginname" class="form-control"
                                       placeholder="请输入登录名"
                                       onblur="validField()">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="col-md-3 control-label">登录密码：</label>
                        <div class="col-md-8">
                            <input type="text" id="pwd" name="pwd" class="form-control"
                                   placeholder="请输入登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmpwd" class="col-md-3 control-label">确认密码：</label>
                        <div class="col-md-8">
                            <input type="text" id="confirmpwd" name="confirmpwd" class="form-control"
                                   placeholder="请输入确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="realname" class="col-md-3 control-label">真实姓名：</label>
                        <div class="col-md-8">
                            <input type="text" id="realname" name="realname" class="form-control"
                                   placeholder="请输入真实姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idtype" class="col-md-3 control-label">证件类型：</label>
                        <div class="col-md-8">
                            &nbsp;<select class="selectpicker" id="idtype" name="idtype" data-width="100%">
                                <option value="">== 请选择 ==</option>
                                <option value="1">身份证</option>
                                <option value="2">护照</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idcode" class="col-md-3 control-label">证件名称：</label>
                        <div class="col-md-8">
                            <input type="text" id="idcode" name="idcode" class="form-control"
                                   placeholder="请输入证件名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender-1" class="col-md-3 control-label">性别：</label>
                        <div class="col-md-8">
                            <div class="radio ">
                                <input id="gender-1" class="magic-radio" type="radio"
                                       name="gender" checked>
                                <label for="gender-1">男</label>
                                <input id="gender-2" class="magic-radio" type="radio"
                                       name="gender">
                                <label for="gender-2">女</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-md-3 control-label">手机号码：</label>
                        <div class="col-md-8">
                            <input type="text" id="tel" name="tel" class="form-control"
                                   placeholder="请输入手机号码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label">邮箱地址：</label>
                        <div class="col-md-8">
                            <input type="text" id="email" name="email" class="form-control"
                                   placeholder="请输入邮箱地址">
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="checkbox pad-btm col-md-offset-1 text-left">
                            <input id="frmCheck" name="frmCheck" class="magic-checkbox" type="checkbox">
                            <label for="frmCheck">我已阅读并且同意所有 <a href="#" class="btn-link">注册条款</a></label>
                        </div>
                        <button class="btn btn-primary btn-block" id="btnReg" type="button">注册</button>
                    </div>
                </form>
            </div>

            <div class="pad-all text-center">
                您已经注册过账户? <a href="/student/login" class="btn-link mar-rgt">点击此处登陆</a>
            </div>
        </div>
    </div>
    <!--===================================================-->

</div>
<!--===================================================-->
<!-- END OF CONTAINER -->

<script type="text/javascript">
        $(function () {
            $("#btnReg").click(function () {
                if(!$("#frmCheck").is(":checked")){
                    $("#frmCheck").parent().parent().addClass("has-error");
                    return false;
                }else{
                    $("#frmCheck").parent().parent().removeClass("has-error").addClass("has-success");
                }

                $('#addform').data('bootstrapValidator').validate();
                if (!$('#addform').data('bootstrapValidator').isValid()) {
                    return false;
                }

                $.ajax({
                    cache: true,
                    type: 'POST',
                    url: '/api/register',
                    data: $('#addform').serialize(),
                    async: false,
                    error: function () {
                        alert("连接错误");
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.code == 0) {
                            completeMsg('注册成功！');
                            login();
                        } else {
                            errorMsg(data.msg);
                        }
                    }
                });
            });
        });

    //设置bootstrap validator FEEDBACK 样式
    var faIcon = {
        valid: 'fa fa-check-circle fa-lg text-success',
        invalid: 'fa fa-times-circle fa-lg',
        validating: 'fa fa-refresh'
    }

    function login()
    {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/api/student/Login/",
            data: {
                username: $("#loginname").val(),
                password: $("#pwd").val()
            },
            async: false,
            error: function (request) {
                alert("连接错误");
            },
            success: function (data) {
                if (data.code == 0) {
                    location.href = "/student/index";
                } else {
                    $.niftyNoty({
                        type: 'danger',
                        icon: 'pli-cross icon-2x',
                        message: data.msg,
                        container: 'floating',
                        timer: 5000
                    });
                }
            }
        });
    }

    function validField() {
        $('#addform').data('bootstrapValidator').validate("loginname");
    }

    $("#addform").bootstrapValidator({
        message: 'This value is not valid',
        //反馈图标
        feedbackIcons: faIcon,
        fields: {
            loginname: {
                message: '登录名无效',
                validators: {
                    notEmpty: {
                        message: '请填写登录名'
                    },
                    threshold: 2,
                    remote: {
                        url: '/api/register/0/unique',//验证地址
                        message: '登录名已存在',//提示消息
                        delay: 2000,
                        type: 'POST'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '登录名长度必须在2到50之间'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '用户名只能由字母、数字和下划线'
                    }
                }
            },
            realname: {
                message: '真实姓名无效',
                validators: {
                    notEmpty: {
                        message: '请填写真实姓名'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '真实姓名长度必须在2到50之间'
                    }
                }
            },
            pwd: {
                message: '登录密码无效',
                validators: {
                    notEmpty: {
                        message: '请填写登录密码'
                    },
                    stringLength: {
                        min: 6,
                        max: 50,
                        message: '登录密码长度必须在6到50之间'
                    },
                    different: {
                        field: 'loginname',
                        message: '不能和登录名相同'
                    },
                }
            },
            confirmpwd: {
                validators: {
                    notEmpty: {
                        message: '请填写确认密码'
                    },
                    identical: {
                        field: 'pwd',
                        message: '确认密码与登录密码不一致'
                    },
                    different: {
                        field: 'loginname',
                        message: '不能和登录名相同'
                    },
                }
            },
            idtype: {
                message: '证件类型无效',
                validators: {
                    notEmpty: {
                        message: '请选择证件类型'
                    },
                }
            },
            idcode: {
                message: '证件号码无效',
                validators: {
                    notEmpty: {
                        message: '请填写证件号码'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '证件号码长度必须在2到50之间'
                    }
                }
            },
            gender: {
                validators: {
                    notEmpty: {
                        message: '请选择性别'
                    }
                }
            },
            tel: {
                message: '手机号码无效',
                validators: {
                    notEmpty: {
                        message: '请填写手机号码'
                    },
                    stringLength: {
                        min: 11,
                        max: 11,
                        message: '请输入11位手机号码'
                    },
                    regexp: {
                        regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                        message: '请输入正确的手机号码'
                    }
                }
            },
            email: {
                message: '邮箱地址无效',
                validators: {
                    notEmpty: {
                        message: '请填写邮箱地址'
                    },
                    emailAddress: {
                        message: '邮箱地址格式有误'
                    }
                }
            },
            frmCheck: {
                message: '阅读条款无效',
                validators: {
                    notEmpty: {
                        message: '请确认阅读条款'
                    }
                }
            }
        }
    });
</script>

</body>
</html>
