<form method="post" action="" class="form-horizontal" id="addform">
    <div class="form-group">
        <label for="LoginName" class="col-sm-2 control-label">登录名：</label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="ion-at"></i>
                </span>
                <input type="text" id="LoginName" name="LoginName" class="form-control" placeholder="请输入登录名"
                       onblur="validField()">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="RealName" class="col-sm-2 control-label">真实姓名：</label>
        <div class="col-sm-6">
            <input type="text" id="RealName" name="RealName" class="form-control" placeholder="请输入真实姓名">
        </div>
    </div>
    <div class="form-group">
        <label for="Password" class="col-sm-2 control-label">登录密码：</label>
        <div class="col-sm-6">
            <input type="text" id="Password" name="Password" class="form-control" placeholder="请输入登录密码">
        </div>
    </div>
    <div class="form-group">
        <label for="ConfirmPwd" class="col-sm-2 control-label">确认密码：</label>
        <div class="col-sm-6">
            <input type="text" id="ConfirmPwd" name="ConfirmPwd" class="form-control" placeholder="请输入确认密码">
        </div>
    </div>
    <div class="form-group">
        <label for="UserType" class="col-sm-2 control-label">用户类型：</label>
        <div class="col-sm-10">
            {$userLevelHtml}
        </div>
    </div>
    <div class="form-group">
        <label for="UserGroup" class="col-sm-2 control-label">所属角色：</label>
        <div class="col-sm-6">
            <select class="form-control" id="UserGroup" name="UserGroup">
                <option value=''>请选择</option>
            </select>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        getGroup();
    });

    function getGroup() {
        $.ajax({
            cache: true,
            type: "GET",
            url: "/api/Group",
            async: false,
            error: function (request) {
                alert("连接错误");
            },
            success: function (data) {
                data.forEach(function (item) {
                    $("#UserGroup").append("<option value='" + item.id + "'>" + item.title + "</option>");
                });
            }
        });
    }

    function validField() {
        $('#addform').data('bootstrapValidator').validate("LoginName");
    }

    $("#addform").bootstrapValidator({
        message: 'This value is not valid',
        //反馈图标
        feedbackIcons: faIcon,
        fields: {
            LoginName: {
                message: '登录名无效',
                validators: {
                    notEmpty: {
                        message: '请填写登录名'
                    },
                    threshold: 2,
                    remote: {
                        url: '/api/user/0/unique',//验证地址
                        message: '登录名已存在',//提示消息
                        delay: 2000,
                        type: 'POST'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '登录名长度必须在2到50之间'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '用户名只能由字母、数字和下划线'
                    }
                }
            },
            RealName: {
                message: '真实姓名无效',
                validators: {
                    notEmpty: {
                        message: '请填写真实姓名'
                    },
                    stringLength: {
                        min: 2,
                        max: 50,
                        message: '真实姓名长度必须在2到50之间'
                    }
                }
            },
            Password: {
                message: '登录密码无效',
                validators: {
                    notEmpty: {
                        message: '请填写登录密码'
                    },
                    stringLength: {
                        min: 6,
                        max: 50,
                        message: '登录密码长度必须在6到50之间'
                    }
                }
            },
            ConfirmPwd: {
                validators: {
                    notEmpty: {
                        message: '请填写确认密码'
                    },
                    identical: {
                        field: 'Password',
                        message: '确认密码与登录密码不一致'
                    },
                }
            },
            UserGroup: {
                message: '用户角色无效',
                validators: {
                    notEmpty: {
                        message: '请填写用户角色'
                    }
                }
            }
        }
    });
</script>