{extend name="base" /}
{block name="css"}
{load href="/static/plugins/animate-css/animate.min.css,/static/plugins/bootstrap-validator/bootstrapValidator.min.css" /}
{/block}

{block name="js"}
{load href="/static/plugins/bootbox/bootbox.min.js,/static/plugins/bootstrap-validator/bootstrapValidator.min.js" /}
{/block}


{block name="title"}消息{/block}
{block name="main"}
<div id="page-content">



</div>
{/block}

{block name="modal"}
<script type="text/javascript">
    $(function () {

    });
</script>
{/block}